.main-info__title {
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
  padding: 0 0 58px 0;
}
@media (max-width: 1366px) {
  .main-info__title {
    font-size: 70px;
    padding: 0 0 60px 0;
  }
}
@media (max-width: 1024px) {
  .main-info__title {
    padding: 0 0 38px 0;
    font-size: 50px;
  }
}
@media (max-width: 375px) {
  .main-info__title {
    padding: 0 0 32px 0;
    font-size: 26px;
  }
}
.main-info__sub-title {
  width: 673px;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  margin: 0 0 60px 0;
}
@media (max-width: 1366px) {
  .main-info__sub-title {
    font-size: 20px;
  }
}
@media (max-width: 1250px) {
  .main-info__sub-title {
    width: 470px;
    font-size: 16px;
    line-height: 122%;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 1024px) {
  .main-info__sub-title {
    width: 470px;
    font-size: 16px;
    line-height: 122%;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 768px) {
  .main-info__sub-title {
    width: 332px;
    height: 61px;
    overflow: hidden;
  }
}
@media (max-width: 375px) {
  .main-info__sub-title {
    width: 186px;
    height: 85px;
    font-size: 14px;
    line-height: 120%;
    margin: 0 0 33px 0;
  }
}
.main-info__wrap {
  width: 100%;
}

.wrapper__advantages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 20px;
  padding: 42px 0 0 0;
  line-height: 140%;
}
@media (max-width: 1600px) {
  .wrapper__advantages {
    padding: 41px 0 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 1500px) {
  .wrapper__advantages {
    width: 695px;
    padding: 41px 0 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 1366px) {
  .wrapper__advantages {
    width: 695px;
    padding: 41px 0 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 1250px) {
  .wrapper__advantages {
    width: 543px;
    padding: 33px 0 0 0;
  }
}
@media (max-width: 1024px) {
  .wrapper__advantages {
    width: 543px;
    padding: 33px 0 0 0;
  }
}
@media (max-width: 768px) {
  .wrapper__advantages {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 28px 0 0 0;
  }
}
@media (max-width: 375px) {
  .wrapper__advantages {
    width: 327px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 35px 0;
    text-align: center;
  }
}
.wrapper__advantages-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 0;
  margin: 0 0 32px 0;
}
@media (max-width: 1500px) {
  .wrapper__advantages-item {
    width: 50%;
    padding: 0 16px 0 0;
    margin: 0 0 37px 0;
  }
}
@media (max-width: 1366px) {
  .wrapper__advantages-item {
    width: 50%;
    padding: 0 16px 0 0;
    margin: 0 0 37px 0;
  }
}
@media (max-width: 1024px) {
  .wrapper__advantages-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 21px 0 0;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 768px) {
  .wrapper__advantages-item {
    width: 55%;
    padding: 0 0 0 0;
    margin: 0 0 27px 0;
  }
}
@media (max-width: 375px) {
  .wrapper__advantages-item {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 6px;
    margin: 0 0 23px 0;
  }
}
.wrapper__advantages-item:last-child {
  margin-bottom: 0;
}
.wrapper__advantages-item:nth-last-child(2) {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .wrapper__advantages-item:nth-last-child(2) {
    margin: 0 0 27px 0;
  }
}
.wrapper__advantages-image {
  width: 70px;
  height: 70px;
  margin: 0 20px 0 0;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
          box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .wrapper__advantages-image {
    width: 50px;
    height: 50px;
    margin: 0 16px 0 0;
    padding: 7px;
  }
}
@media (max-width: 768px) {
  .wrapper__advantages-image {
    width: 55px;
    height: 55px;
    margin: 0 19px 0 0;
  }
}
@media (max-width: 375px) {
  .wrapper__advantages-image {
    margin: 0 -2px 0 0;
  }
}
.wrapper__item-text {
  font-size: 20px;
  line-height: 140%;
}
@media (max-width: 1500px) {
  .wrapper__item-text {
    font-size: 18px;
  }
}
@media (max-width: 1366px) {
  .wrapper__item-text {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .wrapper__item-text {
    font-size: 14px;
    margin: 5px 0 0 0;
  }
}
@media (max-width: 375px) {
  .wrapper__item-text {
    font-size: 14px;
    margin: 14px 0 0 0;
  }
}