.content__body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a c" "b c";
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
}
@media (max-width: 1366px) {
  .content__body {
    -ms-grid-columns: 64% 36%;
    grid-template-columns: 64% 36%;
  }
}
@media (max-width: 1024px) {
  .content__body {
    -ms-grid-columns: 65% 35%;
    grid-template-columns: 65% 35%;
  }
}
@media (max-width: 768px) {
  .content__body {
    -ms-grid-columns: 52% 48%;
    grid-template-columns: 52% 48%;
  }
}
@media (max-width: 750px) {
  .content__body {
        grid-template-areas: "a c" "b b";
  }
}

.body__main-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.body__wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.body__right-bg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

@media (max-width: 750px) {
  .body__main-info {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .body__wrapper {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .body__right-bg {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
  }
}

.header {
  overflow: hidden;
}
.header .body__main-info {
  padding: 119px 0 0 0;
}
@media (max-width: 1366px) {
  .header .body__main-info {
    padding: 80px 0 0 0;
  }
}
@media (max-width: 1024px) {
  .header .body__main-info {
    padding: 84px 0 0 0;
  }
}
@media (max-width: 768px) {
  .header .body__main-info {
    padding: 84px 0 0 0;
  }
}
@media (max-width: 375px) {
  .header .body__main-info {
    padding: 62px 0 0 0;
  }
}
.header .body__right-bg {
  position: relative;
}
.header .body__right-img {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 796px;
  height: 100%;
}
@media (max-width: 750px) {
  .header .body__right-img {
    min-width: 361px;
  }
}
@media (max-width: 375px) {
  .header .body__right-img {
    min-width: 223px;
    left: 24px;
  }
}
@media (max-width: 750px) {
  .header .body__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}