.head__logo {
  width: 26px;
  height: 26px;
  margin: 8px 12px 0 0;
}
@media (max-width: 375px) {
  .head__logo {
    width: 15px;
    height: 15px;
    margin: 11px 4px 0 0;
  }
}
.head__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.head__nav {
  padding: 7px 0 0 41px;
}
@media (max-width: 1366px) {
  .head__nav {
    display: none;
  }
}
.head__contact {
  text-align: right;
}
.head__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.head__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 0 0 0;
  font-size: 14px;
  line-height: 121.4285714286%;
}
.head__nav-list-li {
  border-bottom: solid 1px #e8e8e8;
  margin: 0 20px 0 0;
  padding: 0 0 3px 0;
}
.head__nav-list-li:last-child {
  margin: 0;
}
.head__nav-list-li a:hover {
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.head__nav-list-li a:hover {
  opacity: 0.5;
}
.head__nav-star {
  padding: 1px 11px 8px 0;
}

.name__img-title {
  display: block;
  width: 275px;
  height: 33px;
  margin: 0 0 5px 0;
}
@media (max-width: 375px) {
  .name__img-title {
    width: 149px;
  }
}
.name__img-sub-title {
  width: 166px;
  height: 9px;
}
@media (max-width: 375px) {
  .name__img-sub-title {
    display: none;
  }
}

.contact__time-to-call, .contact__phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 375px) {
  .contact__time-to-call {
    display: none;
  }
}
.contact__phone-number-img {
  margin: 0 5px 0 0;
  width: 18px;
  height: 18px;
}
@media (max-width: 375px) {
  .contact__phone-number-img {
    display: none;
  }
}
.contact__green-ellipse-img {
  padding: 3px 0 0 0;
  margin: -10px 4px 0 0;
}
@media (max-width: 375px) {
  .contact__green-ellipse-img {
    display: none;
  }
}
.contact__time {
  font-size: 14px;
  line-height: 121.4285714286%;
  padding: 0 0 5px 0;
}
@media (max-width: 1024px) {
  .contact__time {
    font-size: 12px;
    line-height: 116.6666666667%;
  }
}
.contact__phone {
  font-weight: 700;
  font-size: 26px;
  line-height: 123.0769230769%;
}
@media (max-width: 1024px) {
  .contact__phone {
    font-size: 18px;
    line-height: 122.2222222222%;
  }
}
@media (max-width: 375px) {
  .contact__phone {
    display: none;
  }
}
.contact__phone-375px {
  display: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}
@media (max-width: 375px) {
  .contact__phone-375px {
    display: block;
  }
}