.header__nav {
  position: relative;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #000;
}

.nav__list > li {
  position: relative;
  padding-right: 80px;
  border-right: 1px solid #e8e8e8;
}
.nav__list li:first-child {
  padding: 0 60px 0 0;
}
.nav__list > li:hover .sub-nav__list {
  display: block;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 187.5%;
}
.nav__listImage {
  width: 26px;
  height: 26px;
  margin: 0 10px 0 0;
}
.nav__list > li:nth-child(1n+2)::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 60px;
  width: 10px;
  height: 12px;
  background: url(../img/svg/nav_arrow.svg) no-repeat 0;
}
.nav__list > li:hover::after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.nav__list > li:nth-child(1):hover {
  color: #ffc901;
}

.sub-nav__list {
  min-width: 300px;
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
  padding: 20px 0 0 0;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.sub-nav__link {
  display: inline-block;
  padding: 0 0 10px 36px;
}
.sub-nav__link:hover {
  color: #ffc901;
}