.content {

    &__content {
        padding-top: 119px;
        position: relative;
            @media (max-width: 1366px) {
                padding-top: 252px;
            }
            @media (max-width: 1024px) {
                padding-top: 191px;
            }
            @media (max-width: 768px) {
                padding-top: 120px;
            }
            @media (max-width: 768px) {
                padding-top: 24px;
            }
    }

    &__content::after {
        content: '';
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        top: 0;
        background-color: #F6F6F6;
            @media (max-width: 1366px) {
                content: '';
                height: 30px;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
            @media (max-width: 750px) {
                display: none;
            }
    }

    &__header {
        text-align: center;
    }

    &__header-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        padding: 119px 0 40px 0;
            @media (max-width: 1366px) {
                padding: 279px 0 40px 0;
                font-size: 42px;
            }
            @media (max-width: 1024px) {
                padding: 204px 0 32px 0;
                font-size: 36px;
            }
            @media (max-width: 768px) {
                padding: 120px 0 32px 0;
            }
            @media (max-width: 750px) {
                padding: 61px 0 32px 0;
            }
            @media (max-width: 375px) {
                font-size: 22px;
                padding: 37px 0 24px 0;
            }
            
    }

    &__header-sub-title {
        font-size: 26px;
        line-height: 120%;
        margin: 0 0 80px 0;
            @media (max-width: 1366px) {
                font-size: 20px;
            }
            @media (max-width: 1024px) {
                font-size: 16px;
                margin: 0 0 61px 0;
            }
            @media (max-width: 375px) {
                font-size: 14px;
                padding: 0 44px;
                margin: 0 0 38px 0;
            }
    }
    
    &__workmans {
    }

}


