.head {

    &__logo {
        width: 26px;
        height: 26px;
        margin: 8px 12px 0 0;
        @media (max-width: 500px) {
            width: 15px;
            height: 15px;
            margin: 11px 4px 0 0;
        }
    }

    &__name {
        display: flex;
        flex-direction: column; 
    }

    &__nav {
        padding: 7px 0 0 41px;
            @media (max-width: 1366px) {
                display: none; 
            }
    }

    &__nav-list {
    }

    &__contact {
        text-align: right;
    }

    &__left-side {
        display: flex;
        align-items: flex-start;
    }

    &__right-side {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0 250px;
            @media (max-width: 650px) {
                flex: 0 0 150px; 
            }
    }

    &__nav-list {
        display: flex;
        padding: 6px 0 0 0;
        font-size: 14px;
        line-height: 17 / 14 * 100%;
    }

    &__nav-list-li {
        border-bottom: solid 1px #e8e8e8;
        margin: 0 20px 0 0;
        padding: 0 0 3px 0;
     }

     &__nav-list-li:last-child {
        margin: 0;
     }

     &__nav-list-li a:hover {
       transition: opacity 0.3s ease-in;
     }

     &__nav-list-li a:hover {
        opacity: 0.5;
     }

    &__nav-star {
        padding: 1px 11px 8px 0;
    }
}

.name {

    &__img-title {
        display: block;
        width: 275px;
        height: 33px;
        margin: 0 0 5px 0;
            @media (max-width: 500px) {
                width: 149px;
        }
    }

    &__img-sub-title {
        width: 166px;
        height: 9px;
            @media (max-width: 500px) {
                display: none;
            }
    }
}

.contact {

    &__time-to-call, &__phone-number {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__time-to-call {
            @media (max-width: 650px) {
                display: none;
            }
    }

    &__phone-number-img {
        margin: 0 5px 0 0;
        width: 18px;
        height: 18px;
            @media (max-width: 650px) {
                display: none;
            }
    }

    &__green-ellipse-img {
        padding: 3px 0 0 0;
        margin: -10px 4px 0 0;
            @media (max-width: 650px) {
                display: none;
            }
    }

    &__time {
        font-size: 14px;
        line-height: 17 / 14 * 100%;
        padding: 0 0 5px 0;
            @media (max-width: 1024px) {
                font-size: 12px;
                line-height: 14 / 12 * 100%;
            }
    }

    &__phone {
        font-weight: 700;
        font-size: 26px;
        line-height: 32 / 26 * 100%;
        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 22 / 18 * 100%;
        }
        @media (max-width: 650px) {
            display: none;
        }
    }

    &__phone-375px {
        display: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 20 / 16 * 100%;
            @media (max-width: 650px) {
                display: block;
            }
    }
}