.content__body {
    padding: 0 0 0 0;
    height: 100%;
}

.header {
    &__body {
    }
}

.body {

    &__content {
        overflow: hidden;
        position: relative;
        
        @media (max-width: 750px) {
            position: static;
        }
    }

    &__main-info {
        width: 60%;
        height: 50%;
        float: left;
            @media (max-width: 1366px) {
                width: 64%;
            }
            @media (max-width: 750px) {
                width: 60%;
                height: 232px;
            }
            @media (max-width: 375px) {
            }
    }

    &__wrapper {
        height: 50%;
        width: 60%;
        @media (max-width: 1366px) {
            width: 64%;
        }
        @media (max-width: 750px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 375px) {
            width: 100%;
        }

    }

    &__right-bg {
        width: 40%;
        float: right;
        height: 100%;
        @media (max-width: 1366px) {
            width: 36%;
        }
        @media (max-width: 750px) {
            width: 40%;
            float: right;
            height: 232px;
            display: block;
            position: relative;
        }
    }

    &__right-bg img {
        position: absolute;
        width: 50%;
        min-width: 796px;
        height: 126%;
        top: 46%;
        left: 58%;
        transform: translate(0, -50%);
         @media (max-width: 1366px) {
            top: 42%;
            left: 62%;
            height: 116%;
        }
        @media (max-width: 1024px) {
            top: 44%;
            left: 62%;
            height: 119%;
            min-width: 630px;
        }
        @media (max-width: 768px) {
            top: 50%;
            left: 52%;
            height: 100%;
            min-width: 684px;
        }
        @media (max-width: 750px) {
            position: absolute;
            width: 50%;
            min-width: 311px;
            height: 115%;
            top: 43%;
            left: 0;
            transform: translate(0, -50%);
        }

        @media (max-width: 375px) {
            position: absolute;
            width: 50%;
            min-width: 207px;
            height: 100%;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }

    }

    &__right-img {
    }

}