@import url(../css/header-nav.css);
@import url(../css/header-head.css);
@import url(../css/header-body.css);

.header {

    // .header__content

    &__content {
    }

    // .header__head

    &__head {
        display: flex;
        justify-content: space-between;
        padding: 9px 0 0 0;
    }

    &__head::after {
        content: '';
        position: absolute;
        background-color: #f5f5f5;
        height: 1px;
        left: 0;
        right: 0;
        top: 94px;
    }

    &__head::before {
        content: '';
        position: absolute;
        height: 30px;
        left: 0;
        right: 0;
        top: 166px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
}






