.header {

    // .header__body

    &__body {
    }

    &__bodyImgBg {
        z-index: -1;
        position: absolute;
        top: 166px;
        right: 0;
    }

    &__bodyImgBg img {
        width: 770px;
        height: 835px;
    }
}
.body {

    // .body__content

    &__content {
        padding: 120px 0;
        height: 835px;
    }

    // .body__mainInfo

    &__mainInfo {
    }
}
.mainInfo {

    // .mainInfo__h1

    &__h1 {
        font-weight: 800;
        font-size: 80px;
        line-height: 100%;
        margin: 0 0 60px 0;
    }

    // .mainInfo__h2

    &__h2 {
        width: 673px;
        font-weight: 500;
        font-size: 26px;
        line-height: 120%;
        margin: 0 0 60px 0;
    }

    // .mainInfo__btn

    &__btn {
        display: inline-block;
        position: relative;
        border-radius: 50px;
        padding: 24px 60px;
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: white !important;
        background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: opacity 0.3s ease-in;
    }

    &__btn:hover {
        opacity: 0.7;
    }

    &__btn:hover .btnArrow {
        transform: translateX(10px)
    }

    &__btnArrow {
        padding: 0 15px 0 0;
        margin: 2px 0 0 0;
        transition: transform 0.3s ease-in;
    }

    &__btnAngle {
        position: absolute;
        width: 50px;
        top: -11px;
        left: 80px;
    }

    &__wrap {
        width: 816px;
    }

}
.wrapper {

    // .wrapper__advantages

    &__advantages {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
    }

    // .wrapper__itemAdvantages

    &__itemAdvantages {
        width: 50%;
        display: flex;
        align-items: center;
        margin: 0 0 40px 0;
    }

    &__itemAdvantages:last-child, &__itemAdvantages:nth-last-child(2) {
        margin-bottom: 0;
    }

    // .wrapper__imageAdvantages

    &__imageAdvantages {
        width: 70px;
        height: 70px;
        margin: 0 20px 0 0;
        padding: 10px 12px;
        box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
        border-radius: 10px;
    }
}

.itemAdvantages__text {
}

