.content__body {
    display: grid;
    grid-template-areas: "a c" 
                         "b c";
    grid-template-columns: 60% 40%;
    @media (max-width: 1366px) {
        grid-template-columns: 64% 36%;
    }
    @media (max-width: 1024px) {
        grid-template-columns: 65% 35%;
    }
    @media (max-width: 768px) {
        grid-template-columns: 52% 48%;
    }
    @media (max-width: 750px) {
        grid-template-areas: "a c" 
                             "b b";  
    }


}

.body__main-info {
    grid-area: a;
}
.body__wrapper {
    grid-area: b;
   
}
.body__right-bg {
    grid-area: c;
}

.header {

    overflow: hidden;

    &__body {

}

.body {

    &__content {
        
    }

    &__main-info {
        padding: 119px 0 0 0;
            @media (max-width: 1366px) {
                padding: 80px 0 0 0;
            }
            @media (max-width: 1024px) {
                padding: 84px 0 0 0;
            }
            @media (max-width: 768px) {
                padding: 84px 0 0 0;
            }
            @media (max-width: 375px) {
                padding: 62px 0 0 0;
            }
    }

    &__right-bg {
        position: relative;
        @media (max-width: 750px) {

        }
    }

    &__right-bg img {
 
    }

    &__right-img {
        position: absolute;
        left: 0;
        bottom: 0;
        min-width: 796px;
        height: 100%;
        @media (max-width: 750px) {
            min-width: 361px;
        }
        @media (max-width: 375px) {
            min-width: 223px;
            left: 24px;
        }
    }

    &__wrapper {
        @media (max-width: 750px) {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

    }
}
}