.header {

    &__body {
    position: relative;
    }

}

.body {

    &__complite-info {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 101;
        right: 135px;
        bottom: 101px;
        width: 464px;
        background: #FFFFFF;
        box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
        border-radius: 61px;
        padding: 20px 40px;
            @media (max-width: 1550px) {
                right: 37px;
                bottom: 170px;
            }
            @media (max-width: 1366px) {
                right: 37px;
                bottom: 220px;
            }
            @media (max-width: 1024px) {
                width: 299px;
                right: 57px;
                bottom: 128px;
                padding: 10px 25px;
            }
            @media (max-width: 375px) {
                right: 38px;
                bottom: 35px;
            }
    }
}

.complite-info {

    &__container {
    }

    &__number {
        margin: 0 10px 0 0;
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 50px;
        line-height: 61 / 50 * 100%;
        background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%), linear-gradient(0deg, #FFA300, #FFA300), linear-gradient(0deg, #4BB1BC, #4BB1BC), linear-gradient(0deg, #1767F9, #1767F9), #4633B9;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @media (max-width: 1024px) {
            font-size: 28px;
            line-height: 34 / 28 * 100%;
        }
    }

    &__smile {
        width: 60px;
        height: 60px;
        margin: 0 10px 0 0;
        @media (max-width: 1024px) {
            width: 40px;
            height: 40px;
            margin: 0 4px 0 0;
        }
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
            @media (max-width: 1366px) {
                // font-size: 18px;
            }
            @media (max-width: 1024px) {
                font-size: 14px;
            }
    }
}